@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.Book-container {
  width: 100%;
  border: solid 1px var(--border-color);
  border-radius: 4px;
  background-color: var(--white-two);
  margin: 1rem 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.book-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section {
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.right-section {
  display: flex;
  align-items: center;
}

.book-title {
  color: var(--black-one);
  font-family: 'Montserrat', sans-serif;
}

.book-author,
.loading {
  color: var(--cool-blue);
  font-weight: 300;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
}

.book-category {
  color: var(--black-two);
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
}

.buttons-list {
  display: flex;
  gap: 0;
  justify-content: flex-start;
}

.button-container {
  list-style: none;
}

.book-btn {
  font-size: 0.8rem;
  height: 1.4rem;
  padding: 0 1rem;
  border: none;
  color: var(--cool-blue);
  font-family:
    'Roboto Condensed',
    sans-serif;
  font-weight: 300;
  background-color: transparent;
}

.book-btn:hover {
  cursor: pointer;
}

.button-container:nth-child(2) .book-btn {
  border-left: solid 1px var(--border-color);
  border-right: solid 1px var(--border-color);
}
